:root {
    --decoration-text-title: 'Anton', sans-serif;
    --decoration-text-h3: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header-nav {
    font-family: var(--decoration-text-title);
    color: black;
}

.header-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.span1 {
    background-color: red;
    padding: 1.5rem;
    color: white;
}

.header-form {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 0.5rem;
}

#form-h3 {
    display: inline;
    color: white;
    font-family: var(--decoration-text-h3);
    font-size: 0.8rem;
}

.header-input {
    height: 2.5rem;
    border-radius: 5px;
    margin: 0.5rem;
}

.header-img {
    width: 100vw;
    height: 45rem;
}

.header.figure {
    margin-top: 0;
}

.last-header-nav {
    height: 3.5rem;
    background-color: rgb(182, 184, 185);
}

.last-header-list {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.article1 {
    height: 30rem;
}

.article1 > h2 {
    margin-top: 5rem;
    font-family: var(--decoration-text-h3);
    font-size: 5rem;
    text-align: center;
}

.article1 > p {
    margin-left: 50vw;
    margin-top: 3rem;
}

.article2 {
    height: 30rem;
    background-color: lightgrey;
    padding: 4rem;
}

.div-article2 {
    margin-top: 20rem;
    border: 1px white solid;
    margin: 3rem 2.5rem;
    display: grid;
    grid-template-areas: "h h" "m a";
    grid-template-columns: 50rem auto;
    grid-template-rows: 2rem auto;
}

.div-article2 > h3 {
    display: grid;
    grid-area: h;
    background-color: red;
    color: white;
    text-align: center;
    align-items: center;
}

.div-article2 > h4 {
    display: grid;
    grid-area: m;
    display: inline;
}

.div-article2 > button {
    display: grid;
    grid-area: m;
    height: 0.5rem;
    margin-top: 15rem;
    margin-left: 15rem;
    height: 2rem;
    width: 15rem;
    align-items: center;
}

.div-article2 > img {
    display: grid;
    grid-area: a;
    width: 100%;
}

.header-h4-1 {
    margin-top: 5rem;
    text-align: center;
}

.header-h4-2 {
    margin-top: 9rem;
    text-align: center;
}

.header-h4-3 {
    margin-top: 11rem;
    text-align: center;
}

.article3 {
    height: 5rem;
}

.article3 > h2 {
    text-align: center;
    margin-top: 0.5rem;
}

.button-showAllDishes {
    margin-left: 42.5vw;
    margin-top: 2rem;
}

.article4 {
    height: 60rem;
}

.grid-img { 
    margin-top: 3rem;
    margin: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    grid-template-rows: repeat(4, 15rem);
}

.grid-img > img:first-child {
    display: grid;
    grid-column: 1 / span 2;
    object-fit: cover;
}

.grid-img > img:nth-child(2) {
    display: grid;
    grid-column: 3 / 4;
}

.grid-img > img:nth-child(3) {
    display: grid;
    grid-column: 1 / 2;
}

.grid-img > img:nth-child(4) {
    display: grid;
    grid-column: 2 / 4;
}

.grid-img > img:nth-child(5) {
    display: grid;
    grid-column: 1 / span 2;
}

.grid-img > img:nth-child(6) {
    display: grid;
    grid-column: 3 / 4;
}

.grid-img > img:nth-child(7) {
    display: grid;
    grid-column: 1 / 2;
}

.grid-img > img:nth-child(8) {
    display: grid;
    grid-column: 2 / 4;
}

.img1-grid {
    height: 13rem;
    width: 45rem;
}

.img2-grid {
    height: 13rem;
    width: 20rem;
}



